/* ---- reset ---- */
body {
  margin: 0;
    overflow-x: hidden;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- tsparticles container ---- */
#tsparticles {
  position: relative;
  width: 175%;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Everything that isn't about the particles start here */

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  position: relative;
  top: 2%;
  display: flex;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  position: relative;
  left: 7.5%;
  flex: 33.33%;
  padding: 5px;
}

#overlay {
  border-radius: 25px;
  background-color:rgb(37, 37, 37, 0.75);
  position: absolute;
  display: block;
  width: 75%;
  height: 175%;
  top: 15%;
  left: 12.5%;
  right: 0;
  bottom: 0;
  z-index: 1;
}